* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


.gallery{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        justify-content: center;
        align-items: center;
      }


 .gallery img {
     width: 100%
 }     